name: Flutter CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Esta é a parte que está faltando: configurar o Flutter
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Install dependencies
        run: flutter pub get  # Note que agora usamos 'flutter pub' e não 'dart pub'

      - name: Analyze project source
        run: flutter analyze --no-fatal-warnings # Adicionei isso para ignorar os avisos por enquanto e o build passar
